<?xml version='1.0' encoding='utf-8'?>
<widget id="id.oktal.downzip" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Download and Unzip</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="AndroidBlacklistSecureSocketProtocols" value="SSLv3,TLSv1" />
    <preference name="scheme" value="http" />
    <preference name="scheme" value="https" />
    <preference name="hostaname" value="https://gpsmon.oktal.dev/" />
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*" xmlns:android="http://schemas.android.com/apk/res/android">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
        </config-file>
        <!-- <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config> -->
    </platform>

</widget>
<!-- if this is an update -->
<!--
-->